  .fs13{font-size: 13px !important}.fs20{font-size: 20px !important}
  p{font-size:16px !important;} label{font-family: 'sans-serif';}
  body{margin:0px;padding:0px;font-family: 'sans-serif';}
  .no-bg{background:none;} .no-brd{border-radius:0px;} .no-pad{padding:0px;} .no-bd{border: none !important;}
  .header-top{background:#a270d2;padding: 5px 0px;border-radius: 0px !important;color: #fff;    height:40px;}
  .header-top-left{padding: 0px;}
  .header-top-left.nav {left:50%; margin-left:-150px;top:50px;position:absolute;}
  .header-top-left .nav>li>a:hover, .header-top-left .nav>li>a:focus,.header-top-left .nav .open>a, .nav .open>a:hover, .header-top-left .nav .open>a:focus {
  background:none;}
  .header-top-left .dropdown {color:#fff;}
  .header-top-left .dropdown-menu>li>a {color:#428bca;}
  .header-top-left .dropdown ul.dropdown-menu{border-radius:0px;box-shadow:none;margin-top:0px;width:150px;}
  .header-top-left ul li a{color:#fff !important ;padding:4px 0px;font-family: 'sans-serif';} .header-top-left ul li a i{color: #ffffff !important;font-size:16px;} .header-top-left ul li a:hover{background: none !important;border: 1px solid transparent !important;}
  /*
      .header-top-left .dropdown ul.dropdown-menu:before {
      content: "";border-bottom: 10px solid #fff;border-right: 10px solid transparent;border-left: 10px solid transparent;position: absolute;top: -10px;right: 16px;z-index: 10;}
  */
  /*
  .header-top-left .dropdown ul.dropdown-menu:after {content: "";background:none !important;
   border-bottom: 12px solid #ccc;border-right: 12px solid transparent;border-left: 12px solid transparent;position: absolute;top: -12px;right: 14px;z-index: 9;}
  */
  .header-top-left .dropdown ul.dropdown-menu li a{color: #000 !important;padding:0px 5px;font-size:13px;}
  /*header-top-right*/
  .header-top-right{float:right;} .header-top-right ul.list-inline{margin:4px 0px 0px 0px;padding: 0px;} .header-top-right ul.list-inline li{float:right;}
  .header-top-right ul.list-inline li a{text-decoration: none;color:#fff;border-right: 1px solid #fff;padding-right:10px;font-family: 'sans-serif';}
  .header-top-right ul.list-inline li a.btn-warning{padding: 3px 7px;background:#ffffff;color:#e93062;font-family: 'sans-serif';border: none;margin-right:60px;font-size: 13px;}
  .header-top-right ul.list-inline li a.btn-warning:hover{padding: 3px 18px;background:#e93062;color:#ffffff;font-family: 'sans-serif';border: none;margin-right:60px;}
  /*logo*/
  /*.logo{} .logo a img{padding-left:20px;}*/
  .hidediv{position: fixed;width: 100%;z-index: 999;transition: .2s ease-in;}
  .header-menu{padding:14px 0px;background:#fff;transition: .2s ease-in;box-shadow: 1px 1px 1px 1px #ccc;border-bottom: 1px solid #ccc;}
  .header-social{ margin-top: 5px; margin-bottom: 0px;    padding-left: 0px;text-align: right;}
  .header-social a:hover{text-decoration: none !important}
  /*slider*/
  /* .banner{padding: 0px;height:230px;} */
  /*.banner{margin-top: 11%;}*/
  .banner img{width:100%;height:450px !important}
  .carousel-inner2{height: 450px}
  .banner-main{position: absolute;top:145px;width:100%;}
   .banner-main h4{font-family: 'MavenPro-Bold';color:#fff;font-size:30px;line-height:40px;} .banner-main h2{font-family: 'MavenPro-Bold';color:#fff;line-height:40px;}
  .banner-main h4 span{color:#f8dc47;} .banner-main a.btn-warning{font-family: 'sans-serif';color:#000;font-size:22px;padding:8px 40px;}
  .banner-list{height:auto;min-height:150px;margin-bottom:30px;}
  /* .banner-list-hight{height:54px;border-bottom:5px solid #FFC107;} */
  .banner-list-hight p{padding:10px 30px;line-height:25px;}
  /* .banner-list-hight1{height:54px;border-bottom:5px solid #2279a2;} */
  .banner-list-hight1 p{padding:10px 30px;line-height:25px;}
  /* .banner-list-hight2{height:54px;border-bottom:5px solid #E91E63;} */
  .banner-list-hight2 p{padding:10px 30px;line-height:25px;}
  /*welcome*/
  .welcome{} .welcome h4{font-family: 'MavenPro-Bold';font-size:25px;}
  /*.welcome h4 span{border-bottom:2px solid #E91E63;padding-bottom:8px;}*/
  .welcome h3{font-family: 'MavenPro-Bold';font-size:20px;}
  .welcome h3 span{color:#607d8b;font-size:28px;text-transform:uppercase;font-family: 'MavenPro-Bold';}
  .welcome p{margin:10px 0px;font-size:14px;/*text-align:justify;*/line-height:22px;}
  .welcome ul.list-inline{margin:0px;padding:10px 0px} .welcome ul.list-inline li{margin:0px;padding: 15px 8px;font-size:24px;line-height:60px;}
  .welcome ul.list-inline li span{font-family: 'MavenPro-Bold';color:#000;}
  .welcome ul.list-inline li img{float:left;margin-right:8px;}
  /*popular*/
  .popular{background:rgba(209, 209, 209, 0.31);padding: 19px 0px 40px 0px;}
  .popular h4{font-family: 'MavenPro-Bold';font-size:25px;}
  .popular-mian{padding:0px;/*background:#fff;webkit-box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.75);*/}
  /*.popular-mian img{height:150px;width:100%;}*/
  .popular-mian h3{font-family: 'MavenPro-Bold';color:#3F51B5;font-size:20px;margin:5px 0px;}
  .popular-mian p{font-size:14px;color:#000;line-height:20px;}
  /*student-succcess*/
  .student-succcess{background:#e93062;padding:10px 0px;}
  .student-succcess h4{color:#fff;font-family: 'MavenPro-Bold';font-size:25px;}
  
  .pay-more{font-size: 14px;color: #e93062 !important;}
  .no-bod-rad{border-radius: 0px !important}
  .btn-danger2 {color: #fff;background-color: #e10000;border-color: #e00000;}
  .btn-danger4 {color: #fff;background-color: #ea003d;border-color: #ea003d;}
  .btn-danger3 {color: #fff;background-color: #e93062;border-color: #e93062;text-transform: uppercase;font-size: 18px}
  .btn-danger3:hover {color: #e93062;background-color: #fff;border-color: #e93062;text-transform: uppercase;font-size: 18px}
  #quote-carousel {
      padding: 0 10px 30px 10px;
      margin-top: 30px;
      /* Control buttons  */
      /* Previous button  */
      /* Next button  */
      /* Changes the position of the indicators */
      /* Changes the color of the indicators */
  }
  #quote-carousel .carousel-control {
      background: none;
      color: #CACACA;
      font-size: 2.3em;
      text-shadow: none;
      margin-top: 30px;
  }
  #quote-carousel .carousel-control.left {
      left: -60px;
  }
  #quote-carousel .carousel-control.right {
      right: -35px;
  }
  #quote-carousel .carousel-indicators {
      right: 50%;
      top: auto;
      bottom: 0px;
      margin-right: -19px;
  }
  #quote-carousel .carousel-indicators li {
      width: 50px;
      height: 50px;
      margin: 5px;
      cursor: pointer;
      border: 4px solid #CCC;
      border-radius: 50px;
      opacity: 0.4;
      overflow: hidden;
      transition: all 0.4s;
  }
  #quote-carousel .carousel-indicators .active {
      background: #333333;
      width: 128px;
      height: 128px;
      border-radius: 100px;
      border-color: #e93062;
      opacity: 1;
      overflow: hidden;
  }
  /*
  .carousel-inner {
      min-height: 300px;
  }
  */
  .item blockquote {
      border-left: none;
      margin: 0;color:#fff;
  }
  .item blockquote p:before {
      content: "\f10d";
      font-family: 'Fontawesome';
      float: left;
      margin-right: 10px;
  } .item p{color:#fff;} .item blockquote small{color:#fff !important;font-family: 'MavenPro-Bold';}
  .ar{margin: -15px 0px 0px 20px;}
  
  /*footer*/
  .footer{background:#000;/*margin-top:20px;*/padding:0px;}
  .footer-main{} .footer-main h1{color:#fff;font-family: 'MavenPro-Bold';font-size:38px;letter-spacing:1px;}
  .footer-main-left{margin-bottom:10px;} .footer-main-left h2{color:#fff;font-family: 'MavenPro-Bold';font-size:20px;margin-bottom:25px;}
  .footer-main-left p{color:#fff;font-size:14px;line-height:20px;}
  .footer-main-left ul{margin:0px;padding:0px;}
  .footer-main-left ul li{margin:0px;padding:0px;list-style:none;}
  .footer-main-left ul li a{margin:5px;color:#fff;line-height:25px;font-size:15px;}
  .footer-main-left ul li a img{margin-bottom:8px;width:24px;height:24px;float:left;margin-right:5px;}
  .subfooter{background:#000;padding:5px;}
  .subfooter-main{border-top:1px solid #fff;padding-top:5px;}
  .subfooter ul{margin:0px;padding:0px;}
  .subfooter ul li{margin:0px;padding:0px;list-style:none;color:#999;}
  .subfooter ul li a{margin:5px;color:#fff;line-height:25px;font-size:14px;}
  .inner-bg{background:#f9f9f9;}

  .btn-bg{color: #f9f9f9;
      background-color: #ed3f40 !important;}
  
  .side-menu ul { list-style-type: none;/*background: rgba(0,0,0,0.5);*/padding-left: 0;height: 445px;}
          .side-menu ul li{border-bottom: 1px solid #bbb;padding: 10px 10px;background: rgba(0,0,0,0.5);color: #fff;}
          .side-menu ul li:hover{border-bottom: 1px solid #bbb;padding: 10px 10px;background: #2c2f33;color: #fff}
          .side-menu ul li.active{border-bottom: 1px solid #ccc;padding: 10px 10px;background:rgba(0,0,0,0.9);color: #fff}
          .side-menu ul li i:hover{color: #bbb;font-size: 16px;}
          .side-menu ul li i {color: #fff;font-size: 16px;}
          .bg-primary-dark { background-color: #2f80e7;color: #fff!important;}
          .bg-primary-dark2 { background-color: #ffb741;color: #fff!important;}
          .bg-primary-dark3 { background-color: #70bb44;color: #fff!important;}
          .bg-primary-dark4 { background-color: #da542f;color: #fff!important;}
          .bg-primary-dark5 { background-color: #28a9e3;color: #fff!important;}
          .pv-lg {padding-top: 15px!important;padding-bottom: 15px!important;}
          .bg-wh{background-color: #fff ;}
          .col-wh{color: #fff !important;}
          .mail-box {border-collapse: collapse;border-spacing: 0;display: table;table-layout: fixed; width: 100%;}
          .mail-box aside {display: table-cell;float: none;height: 100%;padding: 0;vertical-align: top;}
  .bar-icon{font-size: 15px;
      color: #a270d2;
      font-weight: bold;}
  .b-b1{border: 1px solid #ccc}
  .mail-box .sm-side {
      background: none repeat scroll 0 0 #e5e8ef;
      border-radius: 4px 0 0 4px;
      width: 25%;
  }
  .mail-box .lg-side {
      background: none repeat scroll 0 0 #fff;
      border-radius: 0 4px 4px 0;
      width: 75%;
  }
  .mail-box .sm-side .user-head {
      background: none repeat scroll 0 0 #00a8b3;
      border-radius: 4px 0 0;
      color: #fff;
      min-height: 80px;
      padding: 10px;
  }
  .user-head .inbox-avatar {
      float: left;
      width: 65px;
  }
  .user-head .inbox-avatar img {
      border-radius: 4px;
  }
  .user-head .user-name {
      display: inline-block;
      margin: 0 0 0 10px;
  }
  .user-head .user-name h5 {
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 0;
      margin-top: 15px;
  }
  .user-head .user-name h5 a {
      color: #fff;
  }
  .user-head .user-name span a {
      color: #87e2e7;
      font-size: 12px;
  }
  a.mail-dropdown {
      background: none repeat scroll 0 0 #80d3d9;
      border-radius: 2px;
      color: #01a7b3;
      font-size: 10px;
      margin-top: 20px;
      padding: 3px 5px;
  }
  .inbox-body {
      padding: 20px;
  }
  .btn-compose {
      background: none repeat scroll 0 0 #ff6c60;
      color: #fff;
      padding: 12px 0;
      text-align: center;
      width: 100%;
  }
  .btn-compose:hover {
      background: none repeat scroll 0 0 #f5675c;
      color: #fff;
  }
  ul.inbox-nav {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 100%;
  }
  .inbox-divider {
      border-bottom: 1px solid #d5d8df;
  }
  ul.inbox-nav li {
      display: inline-block;
      line-height: 45px;
      width: 100%;
  }
  ul.inbox-nav li a {
      color: #6a6a6a;
      display: inline-block;
      line-height: 45px;
      padding: 0 20px;
      width: 100%;
  }
  ul.inbox-nav li a:hover, ul.inbox-nav li.active a, ul.inbox-nav li a:focus {
      background: none repeat scroll 0 0 #d5d7de;
      color: #6a6a6a;
  }
  ul.inbox-nav li a i {
      color: #6a6a6a;
      font-size: 16px;
      padding-right: 10px;
  }
  ul.inbox-nav li a span.label {
      margin-top: 13px;
  }
  ul.labels-info li h4 {
      color: #5c5c5e;
      font-size: 13px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      text-transform: uppercase;
  }
  ul.labels-info li {
      margin: 0;
  }
  ul.labels-info li a {
      border-radius: 0;
      color: #6a6a6a;
  }
  ul.labels-info li a:hover, ul.labels-info li a:focus {
      background: none repeat scroll 0 0 #d5d7de;
      color: #6a6a6a;
  }
  ul.labels-info li a i {
      padding-right: 10px;
  }
  .nav.nav-pills.nav-stacked.labels-info p {
      color: #9d9f9e;
      font-size: 11px;
      margin-bottom: 0;
      padding: 0 22px;
  }
  .inbox-head {
  /*    background: none repeat scroll 0 0 #41cac0;*/
      border-radius: 0 4px 0 0;
      color: #fff;
      min-height: 51px;
      padding: 8px;
  }
  .inbox-head h3 {
      display: inline-block;
      font-weight: 300;
      margin: 0;
      padding-top: 6px;
  }
  .inbox-head .sr-input {
  /*    border: medium none;*/
  /*    border-radius:4px;*/
  /*    box-shadow: none;*/
      color: #8a8a8a;
      float: left;
      height: 34px;
      padding: 0 10px;
  }
  .inbox-head .sr-btn {
      background: none repeat scroll 0 0 #00a6b2;
      border: medium none;
      border-radius: 0 4px 4px 0;
      color: #fff;
      height: 34px;
      padding: 0 20px;
  }
  .table-inbox {
      border: 1px solid #d3d3d3;
      margin-bottom: 0;
  }
  .table-inbox tr td {
      padding: 12px !important;
  }
  .table-inbox tr td:hover {
      cursor: pointer;
  }
  .table-inbox tr td .fa-star.inbox-started, .table-inbox tr td .fa-star:hover {
      color: #f78a09;
  }
  .table-inbox tr td .fa-star {
      color: #d5d5d5;
  }
  .table-inbox tr.unread td {
      background: none repeat scroll 0 0 #f7f7f7;
      font-weight: 600;
  }
  ul.inbox-pagination {
      float: right;
  }
  ul.inbox-pagination li {
      float: left;
  }
  .mail-option {
      display: inline-block;
      margin-bottom: 10px;
      width: 100%;
  }
  .mail-option .chk-all, .mail-option .btn-group {
      margin-right: 5px;
  }
  .mail-option .chk-all, .mail-option .btn-group a.btn {
      background: none repeat scroll 0 0 #fcfcfc;
      border: 1px solid #e7e7e7;
      border-radius: 3px !important;
      color: #afafaf;
      display: inline-block;
      padding: 5px 10px;
  }
  .inbox-pagination a.np-btn {
      background: none repeat scroll 0 0 #fcfcfc;
      border: 1px solid #e7e7e7;
      border-radius: 3px !important;
      color: #afafaf;
      display: inline-block;
      padding: 5px 15px;
  }
  .mail-option .chk-all input[type="checkbox"] {
      margin-top: 0;
  }
  .mail-option .btn-group a.all {
      border: medium none;
      padding: 0;
  }
  .inbox-pagination a.np-btn {
      margin-left: 5px;
  }
  .inbox-pagination li span {
      display: inline-block;
      margin-right: 5px;
      margin-top: 7px;
  }
  .fileinput-button {
      background: none repeat scroll 0 0 #eeeeee;
      border: 1px solid #e6e6e6;
  }
  .inbox-body .modal .modal-body input, .inbox-body .modal .modal-body textarea {
      border: 1px solid #e6e6e6;
      box-shadow: none;
  }
  .btn-send, .btn-send:hover {
      background: none repeat scroll 0 0 #00a8b3;
      color: #fff;
  }
  .btn-send:hover {
      background: none repeat scroll 0 0 #009da7;
  }
  .modal-header h4.modal-title {
      font-family: "Open Sans",sans-serif;
      font-weight: 300;
  }
  .modal-body label {
  /*    font-family: "Open Sans",sans-serif;*/
      font-weight: 400;
  }
  .heading-inbox h4 {
      border-bottom: 1px solid #ddd;
      color: #444;
      font-size: 18px;
      margin-top: 20px;
      padding-bottom: 10px;
  }
  .sender-info {
      margin-bottom: 20px;
  }
  .sender-info img {
      height: 30px;
      width: 30px;
  }
  .sender-dropdown {
      background: none repeat scroll 0 0 #eaeaea;
      color: #777;
      font-size: 10px;
      padding: 0 3px;
  }
  .view-mail a {
      color: #ff6c60;
  }
  .attachment-mail {
      margin-top: 30px;
  }
  .attachment-mail ul {
      display: inline-block;
      margin-bottom: 30px;
      width: 100%;
  }
  .attachment-mail ul li {
      float: left;
      margin-bottom: 10px;
      margin-right: 10px;
      width: 150px;
  }
  .attachment-mail ul li img {
      width: 100%;
  }
  .attachment-mail ul li span {
      float: right;
  }
  .attachment-mail .file-name {
      float: left;
  }
  .attachment-mail .links {
      display: inline-block;
      width: 100%;
  }
  
  .fileinput-button {
      float: left;
      margin-right: 4px;
      overflow: hidden;
      position: relative;
  }
  .fileinput-button input {
      cursor: pointer;
      direction: ltr;
      font-size: 23px;
      margin: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(-300px, 0px) scale(4);
  }
  .fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
      margin-bottom: 5px;
  }
  .files .progress {
      width: 200px;
  }
  .fileupload-processing .fileupload-loading {
      display: block;
  }
  * html .fileinput-button {
      line-height: 24px;
      margin: 1px -3px 0 0;
  }
  * + html .fileinput-button {
      margin: 1px 0 0;
      padding: 2px 15px;
  }
  @media (max-width: 767px) {
  .files .btn span {
      display: none;
  }
  .files .preview * {
      width: 40px;
  }
  .files .name * {
      display: inline-block;
      width: 80px;
      word-wrap: break-word;
  }
  .files .progress {
      width: 20px;
  }
  .files .delete {
      width: 60px;
  }
  }
  .no-padd{padding-left: 0px !important;padding-right: 0px !important}
  /*terms css*/
  .terms ul{list-style-image: url(../images/iconright.png)}
  .terms ul li{font-size: 15px;    padding: 7px;}
  .size-image{width: 58%}
    .beta-size{width:35%;float: left;margin-right: 5px;    margin-top: 7px;}
  .logo-size{width: 65%}
  
  .logo-size1{width: 74%}
  
  .logo-size2{width: 74%}
  .one-padd{padding-left: 1px !important;padding-right: 1px !important;}
  .m-t-9{margin-top: 9px !important;}
  .m-t-7{margin-top: 7px !important;}
  .m-b-6{margin-bottom: 6px !important;}
  .m-t-8{margin-top: 8px !important}
  .m-t-22{margin-top:22px}.m-t-25{margin-top:25px}
  .m-t-16{margin-top: 16px}
  .m-t-30{margin-top: 30px}
  .m-t-12{margin-top: 12px}
  .m-t-50{margin-top: 50px}
  #header{margin-bottom: 9%}
  .payonce{background-color:#d1b1f0;padding:2px 0px}
  .btn-red{background-color: #ed3f40;border-color: #ed3f40;}
  .btn-blue{background-color: #2279a2;border-color: #2279a2;}
  .bg-wh{background-color: #fff}
  .m-t-10{margin-top: 10px !important}
  .f14 {font-size: 14px !important;}.f15 {font-size: 15px !important;}.fs12 {font-size: 12px !important;}
  .f18 {font-size: 18px !important;} .f23{font-size: 23px !important;}
  .text-white {color: #fff !important;}
  .f12{font-size: 12px !important}.f26{font-size: 26px !important}
  .the-fieldset {border: 1px solid #b8babd;padding: 10px;}
  .the-legend {border-style: none;border-width: 0;line-height: 20px;margin-bottom: 0;width: auto;padding: 5px 10px;font-weight: 800;
      font-size: 16px;    background: #ed3f40;
      color: #fff;}
  .title-head {background: #2279a2;color: white;padding: 13px;    margin: 0px 0px 15px;font-size: 15px;}
  .tb-head{background: #7b7a7a;color: #fff;}
  
  .star-rating{ list-style: none;display: flex;padding-left: 0px;}
  .star-rating li a{margin: 0px 2px;font-size: 17px !important;color: #D7594A}
  .tl-site{color: #9972b2}
  .mt25{margin-top:25px}
  .pd10{padding:10px !important}
  .purple-bg{background-image: url(../images/purple-bg.png) no-repeat ;background-size: 100% 100%;height: 123px}
  .bg-back{background-image: url('assets/images/bg-back.jpg') no-repeat ;background-size: 100% 100%;background-attachment: fixed;}
  .login-back{background-image: url(../images/login-back.jpg) no-repeat ;background-size: 100% 100%;}
  .pt40{padding: 41px 3px 6px 8px;font-size: 14px !important;text-align: center}
  .plr5{padding-left: 5px !important;padding-right: 5px !important;}
  .col-red{color:#EA003D}.fs20{font-size: 20px !important}
  .contact-sp{background-color: #FFE3CD;padding: 18px 0px 30px 10px}
  .btn-red2{background-color: #F53669;border: 1px solid #F53669}
  .branch h5{font-size: 23px !important}
  .title-hd{padding: 10px;background: #a270d2;color: #fff;margin-top: 0px;}
  .plr5{padding-left: 5px !important;padding-right: 0px !important}
  .f11{font-size: 11px !important}
  .overlay-bg{background: rgba(0,0,0,0.6) !important}.form-trp{background: transparent !important;border-color:transparent  !important;
      border-bottom: 1px solid #ccc !important;}
  .form-trp:focus{background: transparent !important;border-color:transparent  !important;
      border-bottom: 1px solid #ccc !important;box-shadow: none !important}
  /*.form-control:focus{border:1px solid #ddd !important; box-shadow: none !important}*/
  .register.form-control:focus{border-bottom: 1px solid #fff !important;border:1px solid transparent !important; box-shadow: none !important;color: #fff !important}
  .postrequirment .form-control{ box-shadow: none !important}
  /* Sidebar Css Start*/
  .bg-dash{background-image: url(../images/sidebar/dash.png);background-repeat: no-repeat;background-position: left top;    background-size: 100% 100%;}
  .bg-dash:hover{background-image: url(../images/sidebar/dash-hover.png);background-repeat: no-repeat;background-position: left top;    background-size: 60% 100%;}
  /* Sidebar Css End*/
  
  
  .updateprofile .nav-tabs>li.active>a {color: #555;cursor: default;background-color: #fbb040 !important;border: 1px solid #ddd;
      border-bottom-color: transparent}
  .updateprofile .nav>li>a:focus, .nav>li>a:hover{text-decoration: none;background-color:#f9f9f9 !important;    border: 1px solid #f9f9f9 !important; border-bottom: 1px solid #dddddd !important;}

  .col-blue{color: #336bfc}
  
  /* --- rating Scroll start ---*/
   .review-scroll {
      overflow-y: scroll;
      height: 400px;
  }
       .review-scroll::-webkit-scrollbar {
      width: 4px;  border-radius: 50%;
  }
  /* Track */
  .review-scroll::-webkit-scrollbar-track {
      background: #f1f1f1;
  
  }
  
  /* Handle */
  .review-scroll::-webkit-scrollbar-thumb {
      background: #888;
  }
  
  /* Handle on hover */
  .review-scroll::-webkit-scrollbar-thumb:hover {
      background: #555;
  }
  /* --- rating Scroll end---*/
  .reg-red{background-color: #ea003d;color: #fff}
  .reg-blue{background-color: #2279a2;color: #fff}
  .m-t-20{margin-top: 20px !important}
  .hgh-110{height: 110px !important}
  .hgh-60{height: 60px !important}
  .carousel-hgh{height: 150px !important}
  .carousel-hghtwo{height: 250px !important}
  .cat-list-adj{border: 1px solid #ccc;margin-bottom: 15px;}
  .individual-cate img{width: 100%;height: 200px;margin-bottom: 20px;}
  
  /*checkbox css start*/
  /* The customcheck */
  .customcheck {
      display: block;
      position: relative;
      padding-left: 23px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 13px;
      font-weight: 100;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  .br-bt{border-bottom: 1px solid #f9ae40}
  /* Hide the browser's default checkbox */
  .customcheck input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
      position: absolute;
      top: 0;
      left: 0;
          height: 18px;
      width: 18px;
     background-color: #ffffff;
      border-radius: 5px;
      border: 1px solid #ccc;
  }
  
  /* On mouse-over, add a grey background color */
  .customcheck:hover input ~ .checkmark {
      background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .customcheck input:checked ~ .checkmark {
      background-color: #02cf32;
      border-radius: 5px;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
      content: "";
      position: absolute;
      display: none;
  }
  
  /* Show the checkmark when checked */
  .customcheck input:checked ~ .checkmark:after {
      display: block;
  }
  
  /* Style the checkmark/indicator */
  .customcheck .checkmark:after {
      left: 7px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  }
  /*checkbox css end*/
  
  .fm-bd{border: 1px solid #ccc;
       -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075); }
  .bg-gray{background-color: #fbfbfb}
  .currency{background-repeat: no-repeat;background-size: 100% 100%;}
  .currency h4{padding: 9px 0px 11px 0px;font-size: 14px;text-align: center;font-weight: bold;}
  .currency h5{padding: 15px 0px 15px 0px;font-size: 14px;text-align: center;font-weight: bold;}
  .btn-ple{background-color: #a270d2;border-color: #a270d2;box-shadow: 0px 0px 2px 3px #ccc;}
  .btn-grad {background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)}
  .btn-grad:hover { background-position: right center;background-image: linear-gradient(to right, #26a0da 0%,  #314755 51%, #314755 100%) }
  .termsandconditions ul  {list-style-image:url('<?php echo base_url();?>assets/images/hand-right.png');background-size: 100% 100%;}
  .termsandconditions ul li{margin: 15px 0px;font-size: 17px;}
  /* hobbies corner page start*/
  
  .new-deal{width:100%;float:left;padding:15px 0;}
  .new-deal .item-slide{position: relative;overflow: hidden;transition:all .5s ease;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;margin:15px 0;}
  .new-deal .slide-hover{ position: absolute;height: 100%;width: 100%;left: -100%; background:rgba(0,0,0,.5);top: 0;transition:all .5s ease;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-moz-border-radius: 5px; border-radius: 5px;-webkit-border-radius: 5px;  }
  .new-deal .item-slide:hover .slide-hover{left:0px;}
  .new-deal img{max-width:100%;height: 230px;}
  .new-deal a {color: #fff;text-decoration: none}
  .text-wrap {position: absolute;bottom: 0;left: 0;width: 100%;color: #fff;background: rgba(0, 0, 0, .5);z-index:99;transition:all .5s ease;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;}
  .text-wrap h4{padding:0 5px;}
  .box-img{width: 100%;   float: left;    -moz-border-radius: 5px; border-radius: 5px;-webkit-border-radius: 5px;    overflow: hidden;    border: 1px solid #ccc;}
  .text-wrap .desc{width:50%;float:left;padding:0 5px;}
  .text-wrap p{padding: 0px 5px;font-size: 15px;text-align:left;font-weight: normal;text-shadow: 2px 2px 3px #000;}
  .text-wrap .desc h4{margin:0px;font: 400 17px/21px "Roboto";}
  .text-wrap .desc h3{    margin: 14px 1px 10px 0px;
      /* font: 400 32px/36px "Roboto"; */
      font-size: 16px;}
  .new-deal .item-slide:hover .text-wrap{background:none}
  .book-now-c {float:right;padding:10px;}
  .book-now-c a {background:#a270d2;color: #fff;padding: 5px;border-radius: 0px;margin-top:0px;float: left;min-width: 101px;text-align: center;font-size: 16px;}
  .new-deal .item-slide:hover .box-img .text-wrap{bottom:-100%;}
  .m-n-t-43{margin-top:-43%}
  .logins .dropdown {
      background:#fff;
      border:1px solid #ccc;
      border-radius:4px;    padding: 1px 8px;
      /* width:300px; */
  }
  .logins .dropdown-menu>li>a {
      color:#428bca;
  }
  .logins .dropdown ul.dropdown-menu {
      border-radius:4px;
      box-shadow:none;
      margin-top:5px;
      width:215px;    left: -109px !important;    background-color: #f9f9f9;
  }
  
  .logins .dropdown ul.dropdown-menu:before {
      content: "";
      border-bottom: 5px solid #fff;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      position: absolute;
      top: -5px;
      right: 9px;
      z-index: 10;
  }
  .logins .dropdown ul.dropdown-menu:after {
      content: "";
      border-bottom: 7px solid #ccc;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      position: absolute;
      top: -7px;
      right: 7px;
      z-index: 9;
  }
  .additional_services{background-image: url(../images/business_login/additional_banner.jpg);background-size: 100% 100%; background-repeat: no-repeat;}
  .why_advertise{background-image: url(../images/business_login/advertise.jpg);background-size: 100% 100%; background-repeat: no-repeat;}
  .market_places{background-image: url(../images/business_login/market_bg.jpg);background-size: 100% 100%; background-repeat: no-repeat;}
  
  .shadow{box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;    border-radius: 4px;}
  .home_head h3{padding: 73px 1px ;text-align: right;font-family: 'MavenPro-bold';    color: #e3cd22;}
  .home_head h4{font-size: 20px;color: #e3cd22;text-align: right;}
  
  .abacus_head h3{padding: 73px 1px ;text-align: center;font-family: 'MavenPro-bold';    color: #2cd789;}
  .abacus_head h4{font-size: 20px;color: #2cd789;text-align: right;}
  .explore{margin-bottom: -140px;background-color: #a270d2;border: 1px solid #a270d2;color: #fff;font-weight: bold;font-size: 23px;}
  .hobby_head h3{padding: 73px 1px ;font-family: 'MavenPro-bold';    color: #0ad2e9;}
  .hobby_head h4{font-size: 20px;color: #0ad2e9;}
  .explore_two{    position: absolute;right: 27px; bottom: -23px;background-color: #a270d2;border: 1px solid #a270d2;color: #fff;font-weight: bold;font-size: 23px;}
  .business_head h3{padding: 73px 1px ;font-family: 'MavenPro-bold';    color: #9276ca;}
  .business_head h4{font-size: 20px;color: #9276ca;}
  .home_bg_fixed{background-image: url(../images/bg-fixed.jpg);background-size: 100% 100%;background-attachment: fixed;background-repeat: no-repeat;}
  
    #header1{overflow: hidden;}
.suggestions li {
    color: #000;
    padding: 5px 8px;
    border-bottom: 1px dashed #aaa;
    cursor: pointer;
    text-align: center;
}
    .sticky {
  position: fixed;
  top: 0;
  width: 100%;
        z-index: 990999999999
}

.sticky + .content {padding-top: 60px;}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{    background-color: transparent !important;}

.show-on-hover:hover > ul.dropdown-menu {display: block;    }
.logins-adjj{    position: absolute;left: 6px;color: #333333;}
.cricket-fix{
    border-bottom:20px;
}


/*Profile Card 3*/
.profile-card-3 {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    text-align: center;
    height:368px;
    border:none;
    margin-bottom: 24px;
  }
  .profile-card-3 .background-block {
      float: left;
      width: 100%;
      height: 200px;
      overflow: hidden;
  }
  .profile-card-3 .background-block .background {
    width:100%;
    vertical-align: top;
    opacity: 0.9;
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
     /* -webkit-transform: scale(1.8);
    transform: scale(2.8); */
  }
  .profile-card-3 .card-content {
    width: 100%;
    padding: 15px 25px;
    color:#232323;
    float:left;
    background:#efefef;
    height:50%;
    border-radius:0 0 5px 5px;
    position: relative;
    z-index: 9999;
  }
  .profile-card-3 .card-content::before {
      content: '';
      background: #efefef;
      width: 120%;
      height: 100%;
      left: 11px;
      bottom: 51px;
      position: absolute;
      z-index: -1;
      transform: rotate(-13deg);
  }
  .profile-card-3 .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    max-width: 100px;
    opacity: 1;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 1);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    z-index:99999;
  }
  .profile-card-3 h2 {
    margin: 0 0 5px;
    font-weight: 600;
    font-size:25px;
  }
  .profile-card-3 h2 small {
    display: block;
    font-size: 15px;
    margin-top:10px;
  }
  .profile-card-3 i {
    display: inline-block;
      font-size: 16px;
      color: #232323;
      text-align: center;
      border: 1px solid #232323;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      margin:0 5px;
  }
  .profile-card-3 .icon-block{
      float:left;
      width:100%;
      margin-top:15px;
  }
  .profile-card-3 .icon-block a{
      text-decoration:none;
  }
  .profile-card-3 i:hover {
    background-color:#232323;
    color:#fff;
    text-decoration:none;
  }